.mainCtn {
  height: 65px;
  width: 100%;
  background-color: rgb(52, 77, 165);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.mainCtn > section {
  margin: 0 40px;
}

.mainCtn > section:last-child{
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
}

.authLinkCtn {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.authLink {
  color: white;
  text-decoration: none;
}

.authLinkExpander{
  margin-top: 2px;
  width: 0px;
  height: 2px;
  background: white;
  transition: width 0.3s linear;
}

.authLink:hover + .authLinkExpander {
  width: 100%;
}

.loggedInLinks, .loggedInLinks > * , 
.iconCtn, .userDropdown > ul,
.userDropdown > ul > li:first-child > section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loggedInLinks > section:focus{
  outline: none;
}

.username {
  position: relative;
  color: white;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.iconCtn{
  color: rgb(52, 77, 165);
  border: 1px solid rgb(52, 77, 165);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  transition: all 0.1s linear;
}


.username > .iconCtn:hover{
  cursor: pointer;
}

.username > .iconCtn:active{
  height: 36px;
  width: 36px;
  font-size: 18px;
}

.userDropdown{
  display: none;
  position: absolute;
  width: 250px;
  z-index: 10;
  right: 0;
  top: 50px;
  background: white;
  color: black;
  box-shadow: 0px 0px 10px grey;
}


.userDropdown > ul {
  flex-direction: column;
  margin: 10px;
}


.userDropdown > ul > li {
  width: 100%;
}

.userDropdown > ul > li:first-child{
  display: grid;
  grid-template-columns: 75px auto;
}

.logoutBtn{
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 3px;
  background: rgb(52, 77, 165);
  color: white;
  font-size: 16px;
  height: 30px;
  transition: color 0.2s linear, background 0.2s linear;
}

.logoutBtn:hover{
  cursor: pointer;
  color: rgb(52, 77, 165);
  background: white;
}