.mainCtn{
  height: 65px;
  width: 100%;
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.logo{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.authLink{
  color: white;
  margin: 0 10px;
  text-decoration: none;
}


