.questionPageCtn{
  height: calc(100vh - 65px);
  display: grid;
  grid-template-columns: 400px auto;
  font-family: sans-serif;
}

.questionPageCtn > section, .sideNav,
.sideNav > section , .cardList, .cardNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNavCtn{
  position: relative;
}

.sideNav{
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 90%;
  min-height: 90%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px grey;
}

.sideNavAnimate{
  -webkit-animation: rushIn  .8s  ease-out forwards;
  animation: rushIn  .8s  ease-out forwards;
}

@keyframes rushIn {
  0% { left: -400px}
  50% {left: 30px}
  75% {left: 15px}
  87.5% {left: 22px}
  93.75% {left: 19px}
  100% {left: auto}
}

.sideNav > section {
  width: 100%;
}

.sideNav > section:not(:first-child) {
  border-bottom: 1px solid lightgray;
}

.sideNavSec1{
  height: 60px;
  background:  rgb(52, 77, 165);
  color: white;
  font-size: 30px;
}

.sideNavSec2{
  background: white;
  color: black;
}


.createQuestionBtn{
  height: 40px;
  width: 200px;
  margin: 10px;
  border: 2px solid green;
  background: green;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  transition: background 0.2s linear, color 0.2s linear;
}


.createQuestionBtn:hover{
  cursor: pointer;
  background: white;
  color: green;
}

.createQuestionBtn:active, .createQuestionBtn:focus{
  outline: none;
}


.cardListCtn{
  height: 320px;
  width: 540px;
  overflow: hidden;
  position: relative;
}

.cardList{
  position: absolute;
  transition: left 0.5s ease-out;
}

.cardList > * {
  margin: 0 20px;
} 

.cardNav{
  justify-content: space-between;
  margin-bottom: 50px;
  width: 80%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}

.cardNavArrows{
  font-size: 60px;
  margin: 0 20px;
}

.cardNavArrows:hover{
  cursor: pointer;
}