.cardCtn{
  position: relative;
  perspective: 1000px;
  transition: transform 1s linear;
  transform-style: preserve-3d;
  width: 500px;
  height: 300px;
}

.card{
  position: absolute;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template-rows: 60px auto;
  font-size: 24px;
}


.front{
  z-index: 2;
  transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
}

.cardHdrCtn{
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.cardHdr{
  width: inherit;
  height: 40px;
  padding: 0 20px;
  background: rgb(52, 77, 165);
  color: white;
  display: flex;
  align-items: center;
}

.cardContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent > span {
  width: fit-content;
  max-width: 80%;
  margin: 0 auto;
}

.topicCardCtn{
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topicCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 0px 0px 10px gray;
  z-index: 2;
  transition: all 0.2s linear;
  overflow: hidden;
}

.topicCard:hover{
  cursor: pointer;
  width: 275px;
  height: 275px;
  box-shadow: 0px 0px 15px gray;
  z-index: 3;
}

.topicCardOptions{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 7px;
  top: 14px;
}

.topicCardOptions:focus{
  outline: none;
}

.topicCardOptions > i {
  font-size: 30px;
}

.topicCardOptions:hover .fas{
  color: white;
}

.topicCardDropDown{
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  overflow: hidden;
  top: 32px;
  left: 50px;
  z-index: 10;
  font-size: 14px;
  transition: left 0.3s linear;
}

.topicCardDropDownActive{
  left: -50px;
}

.topicCardDropDown > li {
  text-align: center;
  padding: 5px 10px;
}

.topicCardDropDown > li:hover{
  background: lightgray;
}

.topicCardDropDown > li:not(:last-child){
  border-bottom: 1px solid gray;
}

.topicCardHdr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 24px;
  color: white;
  background: rgb(52, 77, 165);
  width: 100%;
}

.topicCardHdrSpan{
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topicCardName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  font-size: 25px;
  background: white;
}


.topicCardDesc{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(173, 168, 168), white);
  width: 100%;
  height: 200px;
  top: 275px;
  opacity: 0;
  z-index: -1;
  transition: top 0.35s linear, opacity 0.35s linear, z-index 0.5s linear;
}

.topicCardDescHdr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 24px;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 24px;
}

.topicCardDescSpan{
  font-size: 20px;
  max-width: calc(275px * .9);
  word-break: break-word;
}

.topicCard:hover .topicCardDesc{
  top: 63px;
  opacity: 1;
  z-index: 4;
}