.cardCtn{
  position: relative;
  perspective: 1000px;
  transition: transform 1s linear;
  transform-style: preserve-3d;
  width: 500px;
  height: 300px;
}

.card{
  position: absolute;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.front{
  z-index: 2;
  transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
}

.topicCardCtn{
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topicCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 0px 0px 10px gray;
  z-index: 2;
  transition: all 0.2s linear;
  overflow: hidden;
}

.topicCard:hover{
  cursor: pointer;
  width: 275px;
  height: 275px;
  box-shadow: 0px 0px 15px gray;
  z-index: 3;
}


.topicCardHdr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 24px;
  color: white;
  background: rgb(52, 77, 165);
  width: 100%;
}

.topicCardName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  font-size: 25px;
  background: white;
}


.topicCardDesc{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(173, 168, 168), white);
  width: 100%;
  height: 200px;
  top: 275px;
  opacity: 0;
  z-index: -1;
  transition: top 0.35s linear, opacity 0.35s linear, z-index 0.5s linear;
}

.topicCardDescHdr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 24px;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 24px;
}

.topicCardDescSpan{
  font-size: 20px;
  max-width: calc(275px * .9);
}

.topicCard:hover .topicCardDesc{
  top: 63px;
  opacity: 1;
  z-index: 4;
}