.modalBackground{
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background: rgba(50, 50, 50, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}



.newTopicModalCtn{
  position: relative;
  background: white;
  border-radius: 10px;
  min-height: 50vh;
  width: 40vw;
  display: grid;
  grid-template-rows: 65px auto;
  overflow: hidden;
  top: 0px;
  opacity: 1;
  transition: top 0.2s linear, opacity 0.2s linear;
}

.newTopicHdr{
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  background: rgb(52, 77, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newTopicForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.createBtn{
  margin: 10px;
  height: 40px;
  width: 100px;
  background: green;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 2px solid green;
  border-radius: 5px;
  transition: background 0.2s linear, color 0.2s linear;
}

.createBtn:hover{
  cursor: pointer;
  color: green;
  background: white;
}